# Set

## Set Creation

So far, we have covered List, Dictionary and Tuple.

Now we will learn another built-in data type in Python: `Set`

`Set`:
* is a datatype that include other data types (like List, Dict, String)
* is **unordered** and **unindexed**
* elements are **unique**
* is created:
    * `{ }` -> but with elements in it
    * `set()`

**Create a Set via `{ }`**

In [1]:
# Try to Create Set with {}
my_set = {}
my_set

{}

In [2]:
type(my_set)

dict

In [3]:
# empty {} -> dict

# for set
# we have to pass items in {}
my_set = {'dog', 'cat', 'horse'}
my_set

{'cat', 'dog', 'horse'}

In [4]:
type(my_set)

set

**Create a Set via `set()`**

In [5]:
# set({}) -> empty set
an_empty_set = set({})
type(an_empty_set)

set

In [6]:
# a set with elements
letters = set({'A', 'B', 'C', 'D'})
letters

{'A', 'B', 'C', 'D'}

In [7]:
# Same element in a set -> only once
grades = ['A', 'A', 'B', 'C', 'B', 'C']
print(grades)

['A', 'A', 'B', 'C', 'B', 'C']

In [8]:
# convert the List -> Set
# the same elements -> removed
grades_set = set(grades)
grades_set

{'A', 'B', 'C'}

In [9]:
# String -> Set
sentence = 'sentence'
set(sentence)

{'c', 'e', 'n', 's', 't'}

In [10]:
# try to access the elements of a Set with index
grades_set[0]

TypeError: 'set' object is not subscriptable

**index** -> **subscriptable**

## Set Methods

**intersection:**

Intersection of two sets:

$$ A \cap B $$

A.intersection(B)

In [11]:
grades = ['A', 'A', 'B', 'C', 'B', 'C']
grades = set(grades)
grades

{'A', 'B', 'C'}

In [12]:
letters = ['A', 'L', 'T', 'B', 'F']
letters = set(letters)
letters

{'A', 'B', 'F', 'L', 'T'}

In [13]:
# A.intersection(B)
grades.intersection(letters)

{'A', 'B'}

**union:**

Union of two sets:

$$ A \cup B $$

A.union(B)

In [14]:
# get the union of grades and letters
grades.union(letters)

{'A', 'B', 'C', 'F', 'L', 'T'}

**difference:**

Difference of two sets:

$$ A \setminus B $$

A.difference(B)

In [15]:
# get the difference of grades from letters
grades.difference(letters)

{'C'}

In [16]:
# get the difference of letters from grades
letters.difference(grades)

{'F', 'L', 'T'}

**issubset()**

Checks if a set (A) is the subset of the other one (B).

A.issubset(B)

(All elements of A are in B)

In [17]:
# if grades is a subset of letters
grades.issubset(letters)

False

In [18]:
# define a new set
grades_small = {'A', 'B'}

In [19]:
# if grades_small is a subset of letters
grades_small.issubset(letters)

True

In [20]:
# if grades_small is a subset of grades
grades_small.issubset(grades)

True

**issuperset()**

Checks if a set (A) is the superset of the other one (B).

A.issuperset(B)

(All elements of B are in A)

In [21]:
# if letters is a superset of grades
letters.issuperset(grades)

False

In [22]:
# if letters is a superset of grades_small
letters.issuperset(grades_small)

True

**symmetric_difference()**

Checks the symmetric difference between A and B.

<pre>
All elements which are only in A 
+ 
All elements which are only in B 
</pre>

$$ (A \setminus B) \cup (B \setminus A) $$

In [23]:
# symmetric difference of letters and grades
letters.symmetric_difference(grades)

{'C', 'F', 'L', 'T'}

## Set Operations

**Add elements to set -> `add()`**

In [24]:
# add 'F' to grades
grades.add('F')
grades

{'A', 'B', 'C', 'F'}

In [25]:
# add 'T' to grades
grades.add('T')
grades

{'A', 'B', 'C', 'F', 'T'}

In [26]:
# Python will ignore the same element
grades.add('F')
grades

{'A', 'B', 'C', 'F', 'T'}

**Remove elements from set -> `remove()`**

In [27]:
# set.remove(<element>)
grades.remove('C')
grades

{'A', 'B', 'F', 'T'}

In [28]:
# remove 'F'
grades.remove('F')
grades

{'A', 'B', 'T'}

**Loop over a Set**

In [29]:
for letter in letters:
    print(letter)

B
F
L
T
A

In [30]:
for g in grades:
    print(g)

B
T
A

**Assignment in Sets**

Assignment is `Aliasing`.

Aliasing: giving another name.

In [31]:
# create a set
a = {2, 5, 7}

# assignment -> aliasing
b = a

print('a:', a)
print('b:', b)

a: {2, 5, 7}
b: {2, 5, 7}

In [32]:
# add element into b
b.add('NEW')

In [33]:
# print both a and b to see they are identical
print('a:', a)
print('b:', b)

a: {2, 'NEW', 5, 7}
b: {2, 'NEW', 5, 7}

**identical**

In [34]:
# identity check
a is b

True

**equivalence**

In [35]:
# equality check
a == b

True

In [36]:
a.issubset(b)

True

In [37]:
a.issuperset(b)

True

In [38]:
# add a new element to a
a.add('YYYY')

In [39]:
print('a:', a)
print('b:', b)

a: {2, 'NEW', 5, 'YYYY', 7}
b: {2, 'NEW', 5, 'YYYY', 7}

**Adding multiple elements to a Set -> `update()`**

In [40]:
# define a set of fruits
fruits = {'Apple', 'Orange', 'Melon'}
fruits

{'Apple', 'Melon', 'Orange'}

In [41]:
# define a list
more_fruits = ['Cherry', 'Banana']
more_fruits

['Cherry', 'Banana']

In [42]:
# update fruits with more_fruits
fruits.update(more_fruits)
fruits

{'Apple', 'Banana', 'Cherry', 'Melon', 'Orange'}