# List

## List is a Squence

Previously, we learned that Strings are Sequences.

Lists are also Sequence Types.

For Sequences, you can access elements via `index`.

List are definded: `[]`

In [1]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [2]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters)

['a', 'b', 'c', 'd', 'e']

In [3]:
type(letters)

list

In [4]:
mixed_list = [2, 'A', 'B', True, 'mail']
mixed_list

[2, 'A', 'B', True, 'mail']

In [5]:
nested_list = ['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]
nested_list

['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]

In [6]:
# item at index 0
nested_list[0]

'city'

In [7]:
# item at index 3
nested_list[3]

True

In [8]:
# item at index 4
nested_list[4]

[1, 2, 3]

In [9]:
# item at index 6
nested_list[6]

['a', 'b']

In [10]:
# access the items in the nested lists
# double indexing
nested_list[4][2]

3

In [11]:
# item at index 6 is a nested list
nested_list[6]

['a', 'b']

In [12]:
# get the item 0 at of the nested list
nested_list[6][0]

'a'

In [13]:
# Empty list
empty = []
empty

[]

## Lists are Mutable

Strings are Immutable.

Lists are Mutable.

In [14]:
cars = ['audi', 'Ford', 'Mazda']
cars

['audi', 'Ford', 'Mazda']

In [15]:
# mutate the cars list
cars[0] = 'Audi'
cars

['Audi', 'Ford', 'Mazda']

In [16]:
nums = [1, 2, 3, 4, 5]
nums[4]

5

In [17]:
nums[4] = '55555'
nums

[1, 2, 3, 4, '55555']

In [18]:
# Access an index which does not exist
# IndexError: list index out of range
nums[6]

IndexError: list index out of range

negative index :  comes from Right to Left
starts from -1

index
------------>
   0        1        2
['Audi', 'Ford', 'Mazda']


negative index
<------------
   -3      -2      -1
['Audi', 'Ford', 'Mazda']

In [19]:
cars[-1]

'Mazda'

In [20]:
cars[-2]

'Ford'


['Audi', 'Ford', 'Mazda']  |  ['Audi', 'Ford', 'Mazda'] 
  -3       -2       -1            0      1        2

In [21]:
cars[-3]

'Audi'

## Loop Over a List

In [22]:
# loop over cars list
for car in cars:
    print(car)

Audi
Ford
Mazda

In [23]:
# we need the index -> enumerate()
for index, car in enumerate(cars):
    print("{0} - {1}".format(index, car))

0 - Audi
1 - Ford
2 - Mazda

We want to change the elemants during the loop.

In [24]:
nums = [1, 2, 3, 4, 5]
nums

[1, 2, 3, 4, 5]

In [25]:
# loop over the list -> multiply elements by 10
for num in nums:
    num *= 10
    print(num)

10
20
30
40
50

In [26]:
nums

[1, 2, 3, 4, 5]

In [27]:
# we want to change the original list in loop
# we need index to update the element -> list
for index, num in enumerate(nums):    
    # calculate the new num
    new_num = num * 10
    
    # update the list via index
    nums[index] = new_num

In [28]:
nums

[10, 20, 30, 40, 50]

In [29]:
# cars list
# we will update each car as ' Car' -> Audi Car, Ford Car, Mazda Car
for index, car in enumerate(cars):
    # concatenate ' Car' with the item
    cars[index] = car + ' Car'

In [30]:
cars

['Audi Car', 'Ford Car', 'Mazda Car']

## List Operations

In Lists +, * (addition and multiplication) operations are allowed.

But with its own logic.

**`+` Operator**

It concatenates lists.

In [31]:
# define two lists
a = [10, 20, 30]
b = [4, 8, 12]

# now add the lists
c = a + b
print(c)

[10, 20, 30, 4, 8, 12]

In [32]:
# define three lists
a = [10, 20, 30]
b = [4, 8, 12]
c = ['A', 'B', 'C']

# add them
d = a + b + c
d

[10, 20, 30, 4, 8, 12, 'A', 'B', 'C']

**`*` Operator**

It duplicates the list in the number of multiply.

In [33]:
car = 'Car'
3 * car

'CarCarCar'

In [34]:
cars = ['Audi', 'Ford', 'BMW']
2 * cars

['Audi', 'Ford', 'BMW', 'Audi', 'Ford', 'BMW']

In [35]:
[5] * 4

[5, 5, 5, 5]

In [36]:
[11, 22] * 3

[11, 22, 11, 22, 11, 22]

## List Slicing

In [37]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f']
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [38]:
# we want elements from index 1 to 4 (exc)
my_list[1:4]

['b', 'c', 'd']

In [39]:
# we want first 4 items
# indices: 0, 1, 2, 3
my_list[0:4]

['a', 'b', 'c', 'd']

In [40]:
# omit 0 for start
my_list[:4]

['a', 'b', 'c', 'd']

In [41]:
# get all items of list
my_list[::]

['a', 'b', 'c', 'd', 'e', 'f']

In [42]:
my_list_copy = my_list[::]
my_list_copy

['a', 'b', 'c', 'd', 'e', 'f']

In [43]:
# get the items with even indices
# 0, 2, 4, ...
my_list[::2]

['a', 'c', 'e']

In [44]:
# get the elements with odd index
# 1, 3, 5 ...
my_list[1::2]

['b', 'd', 'f']

In [45]:
# copy the reverse of the list
my_list_copy_reverse = my_list[::-1]
my_list_copy_reverse

['f', 'e', 'd', 'c', 'b', 'a']

## Copy of a List and the IDs

Copying -> Create a NEW List

In [46]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f']
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [47]:
# copy the list with complete slice
my_list_copy = my_list[:]
my_list_copy

['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
# mutate the new list -> if it affects the original list
my_list_copy[0] = 'A'
my_list_copy[1] = 'B'

In [49]:
print('My List:', my_list)
print('My List Copy', my_list_copy)

My List: ['a', 'b', 'c', 'd', 'e', 'f']
My List Copy ['A', 'B', 'c', 'd', 'e', 'f']

**`id` method**

In [50]:
# get the id of my_list
id(my_list)

2690455772736

In [51]:
# get the id of my_list_copy
id(my_list_copy)

2690455047296

In [52]:
# check if they are the same object
id(my_list) == id(my_list_copy)

False

## List Methods

Built-in List Methods:

* append() : adds an element at the end of the list
* insert() : adds an element at specified index
* extend() : concats list to another
* sort()   : sorts the list (in-place)
* sorted() : sorts the list and returns a new list (doesn't mutate the original)

In [53]:
letters = ['a', 'b', 'c', 'd', 'e']
letters

['a', 'b', 'c', 'd', 'e']

**append()**

In [54]:
letters.append('f')
letters

['a', 'b', 'c', 'd', 'e', 'f']

In [55]:
# one at a time
letters.append('a')
letters.append('x')
letters.append('t')
letters

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'x', 't']

**insert():**

In [56]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels

['a', 'e', 'i', 'o', 'u']

In [57]:
# insert 'E' after 'e' 
# at index 2
vowels.insert(2, 'E')
vowels

['a', 'e', 'E', 'i', 'o', 'u']

**extend():**

In [58]:
# define two different lists
letters = ['a', 'b', 'c', 'd', 'e']
t = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
# extend the letters list with t
letters.extend(t)

In [60]:
# print the final value of letters
letters

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6, 7, 8, 9]

**sort():**

In [61]:
# define a list with unsorted elements
t = [4, 2, 3, 1, 5, 6, 9, 8, 7]
# sorts the list in-place
t.sort()
t

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
# define an unsorted list
a = ['c', 'b', 'a', 'd']
a.sort()
a

['a', 'b', 'c', 'd']

**reverse:**

* `reverse=False` -> sorts ascending (default)
* `reverse=True` -> sorts descending

In [63]:
# reverse = False
a = ['c', 'b', 'a', 'd']
a.sort(reverse=False)
a

['a', 'b', 'c', 'd']

In [64]:
# reverse = True
a.sort(reverse=True)
a

['d', 'c', 'b', 'a']

**sorted():**

In [65]:
a = ['c', 'b', 'a', 'd']
a

['c', 'b', 'a', 'd']

In [66]:
# sorted(<list>)
b = sorted(a)
b

['a', 'b', 'c', 'd']

In [67]:
# a is unchanged
a

['c', 'b', 'a', 'd']

In [68]:
# sort in reverse order
d = sorted(a, reverse=True)
d

['d', 'c', 'b', 'a']

## Deleting Elements from a List

We have various ways to delete elements from a list:

* 1 - If we know the index to delete -> **pop(index)**

**pop(index)** removes the element from the list and returns that element.

In [69]:
a_list = ['x', 'y', 'z', 't']
a_list

['x', 'y', 'z', 't']

In [70]:
# delete element at index 2
deleted_element = a_list.pop(2)
deleted_element

'z'

In [71]:
# print a_list after we delete an element
a_list

['x', 'y', 't']

**pop()**: With no index -> pop() deletes the last element.

In [72]:
del_el = a_list.pop()
del_el

't'

In [73]:
a_list

['x', 'y']

* 2 - We do not need the deleted element-> **del**

**del** removes the element from the list and returns None.

In [74]:
my_list = ['k', 'l', 'm', 'n', 'o']
my_list

['k', 'l', 'm', 'n', 'o']

In [75]:
# delete element at index 3
del my_list[3]

In [76]:
# my_list after deletion
my_list

['k', 'l', 'm', 'o']

In [77]:
# redefine the list
my_list = ['k', 'l', 'm', 'n', 'o', 'p', 'r']
my_list

['k', 'l', 'm', 'n', 'o', 'p', 'r']

In [78]:
# delete indices from 1-5
del my_list[1:5]

In [79]:
# my_list after deletion
my_list

['k', 'p', 'r']

* 3 - We know the element itself to delete -> **remove(element)**

**remove(element)** removes the element from the list.

In [80]:
# redefine my_list
my_list = ['k', 'l', 'm', 'n', 'o', 'p', 'r']
my_list

['k', 'l', 'm', 'n', 'o', 'p', 'r']

In [81]:
# remove element 'm' from my_list
my_list.remove('m')

In [82]:
# my_list after remove
my_list

['k', 'l', 'n', 'o', 'p', 'r']

In [83]:
# remove two more elements
my_list.remove('o')
my_list.remove('r')

In [84]:
# my_list after remove
my_list

['k', 'l', 'n', 'p']

In [85]:
# try to remove an element which does not exist
my_list.remove('x')

ValueError: list.remove(x): x not in list

## List & String

String is a sequence of characters.

List is a sequence of values.

To convert a String into a List -> `list()`

In [86]:
day = 'Monday'
type(day)

str

In [87]:
# convert the string into a list
day_letters = list(day)
day_letters

['M', 'o', 'n', 'd', 'a', 'y']

In [88]:
type(day_letters)

list

**split():**

In [89]:
text = 'today is another day'
text

'today is another day'

In [90]:
# get the words as a list -> split()
words = text.split()
words

['today', 'is', 'another', 'day']

In [91]:
# split from another char than space -> -
mailbox = 'spam-spam-ham-spam-ham'
mailbox

'spam-spam-ham-spam-ham'

In [92]:
mails = mailbox.split('-')
mails

['spam', 'spam', 'ham', 'spam', 'ham']

**join():**

Opposite of split.

In [93]:
words = ['monday', 'is', 'the', 'first', 'day']
words

['monday', 'is', 'the', 'first', 'day']

In [94]:
# join with '-' char between items
sentence = '-'.join(words)
sentence

'monday-is-the-first-day'

In [95]:
# join with whitespace char between items
sentence = ' '.join(words)
sentence

'monday is the first day'

## Creating a List with Range Function

In [96]:
# range(start, end, step)
# start = 1
# end = 10
# step = 2
range(1, 10, 2)

range(1, 10, 2)

In [97]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [98]:
# range of numbers from 2 up to 30 and the step size 3
my_range = range(2, 33, 3)

In [99]:
# convert this range into a list
range_list = list(my_range)
range_list

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32]

In [100]:
# start from 20 up to  100, step size 10
range_two = range(20, 100, 10)

In [101]:
# convert this range into a list
list_two = list(range_two)
print(list_two)

[20, 30, 40, 50, 60, 70, 80, 90]

## Objects and Values

In [102]:
# 2 strings with the same value
a = 'apple'
b = 'apple'

In [103]:
# the id of variable a
id(a)

2690455811248

In [104]:
# the id of variable b
id(b)

2690455811248

In [105]:
# equality check
a == b

True

In [106]:
# identity check
id(a) == id(b)

True

In Python these two varibles:

a and b
* have the same values
* they are **Immutable** (str)

Since their values are the same, and they are Immutable,

Pyhton did not created two seprate varibles, instead it assign both to the same address.

To save memory.

In [107]:
# reassign another value to variable b
b = 'orange'
b

'orange'

In [108]:
# the id of variable a
id(a)

2690455811248

In [109]:
# the id of variable b
id(b)

2690456899952

From now on, a and b are NOT the same variable.

Since we changed the value of b, Python has created a new address (id) for b.

In [110]:
# equality check
a == b

False

In [111]:
# identity check
id(a) == id(b)

False

In [112]:
# Define 2 Lists
x = [1, 2, 3]
y = [1, 2, 3]

In [113]:
# equality check
# == checks for values
x == y

True

In [114]:
# id of x
id(x)

2690457047424

In [115]:
# id of y
id(y)

2690456940288

In [116]:
# identity check
# object equality (not their values)
id(x) == id(y)

False


**x == y** check -> equality

    * it checks values of two variables 


**id(x) == id(y)** check -> identical

    * it checks two objects (address - id)

## is Statement

<pre>
x == y           -> Value Comparison (Equality)

id(x) == id(y)   -> Object Comparison (Identical)
</pre>

In [117]:
# define 2 lists
a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

In [118]:
# value comparison
a == b

True

In [119]:
# object comparison
id(a) == id(b)

False

In [120]:
# is statement
# if they are identical
a is b

False

In [121]:
# define 2 integers
# int is Primitive
a = 2
b = 2

In [122]:
# value comparison
a == b

True

In [123]:
# object comparison
a is b

True

In [124]:
# reassign b
b = 888

In [125]:
# object comparison
a is b

False

## Aliasing

Aliasing means different names referring the same object.

x  ----------------> Object A

y  ----------------> Object A

Since x and y refers to the same object (A) they are aliases.

**In Python Types are:**

* Primitive Types: int, float, string, bool

* Non-Primitive Types: list, dict, tuple, ...

**Primitive Types:**

In [126]:
# assignment in Primitive Types
x = 24
y = x

In [127]:
# object comparison
x is y

True

In [128]:
# reassign y
y = 40

In [129]:
# object comparison
x is y

False

**Non-Primitive Types:**

In [130]:
# Assignment in Non-Primitive Types
a = [1, 2, 3, 4, 5, 6]
b = a

In [131]:
# object comparison
a is b

True

In [132]:
# print their values
print('a:', a)
print('b:', b)

a: [1, 2, 3, 4, 5, 6]
b: [1, 2, 3, 4, 5, 6]

Non-Primitive Type -> Reassignment

In [133]:
# reassign b
b = [10, 20, 30, 40, 50, 60]

In [134]:
# print their values
print('a:', a)
print('b:', b)

a: [1, 2, 3, 4, 5, 6]
b: [10, 20, 30, 40, 50, 60]

What if we **mutate** b?

In [135]:
# Assignment in Non-Primitive Types
a = [1, 2, 3, 4, 5, 6]
b = a

In [136]:
# object comparison
a is b

True

In [137]:
# mutate b
b[0] = 'A'
b[1] = 'B'

In [138]:
# print b
b

['A', 'B', 3, 4, 5, 6]

In [139]:
# a has been mutated
a

['A', 'B', 3, 4, 5, 6]

In [140]:
# print their values
print('a:', a)
print('b:', b)

a: ['A', 'B', 3, 4, 5, 6]
b: ['A', 'B', 3, 4, 5, 6]

In [141]:
# object comparison
a is b

True

For **Mutabale** types **mutation** does not break aliasing.

a and b are still the same  object, because we mutated b.

## List as a Function Argument

### Mutate the List inside the function

In [142]:
# Example
letters = ['a', 'b', 'c']

print("before passing to function:", letters)

def add_upper_cases(list_of_letters):
    # mutation
    list_of_letters.insert(1, 'A')
    list_of_letters.insert(3, 'B')
    list_of_letters.insert(5, 'C')
    
# call the function with the list
add_upper_cases(letters)

print("before passing to function:", letters)

before passing to function: ['a', 'b', 'c']
before passing to function: ['a', 'A', 'b', 'B', 'c', 'C']

In [143]:
letters

['a', 'A', 'b', 'B', 'c', 'C']

When you pass a Non-Primitive Type (List) as a function parameter:

* the pass by reference (they pass as the same objcet)
* if you mutate the parameter inside the function -> original list will be mutated

### Reassing the List inside the function

In [144]:
# Example
letters = ['a', 'b', 'c']

print("before passing to function:", letters)

def add_upper_cases(list_of_letters):
    # reassignment
    list_of_letters = ['X', 'Y', 'Z']
    
# call the function with the list
add_upper_cases(letters)

print("before passing to function:", letters)

before passing to function: ['a', 'b', 'c']
before passing to function: ['a', 'b', 'c']

When you pass a Non-Primitive Type (List) as a function parameter:

* the pass by reference (they pass as the same objcet)
* if you reassign the parameter inside the function -> 
    * Python will create a new list object inside the function
    * original list will not be changed