# Tuple

## Tuple Creation

Tuple is a Sequence Type like String and List.

They can take any type as elements.

Tuple's are indexed by integers (implicitly).

They look like List.

Main Difference:
* List -> Mutable
* Tuple -> Immutable

**Tuple** is a sequence seperated by comma.

**Creating a Tuple by assigning elements seperated with comma**

In [1]:
t = 'x', 'y', 'z', 'q', 'p'
print(t)

('x', 'y', 'z', 'q', 'p')

In [2]:
type(t)

tuple

In [3]:
t2 = (1, 2, 4, 6, 8, 20)
t2

(1, 2, 4, 6, 8, 20)

In [4]:
# check if t2 is a tuple
isinstance(t2, tuple)

True

**Question:**

How to create a typle with only one element?

In [5]:
one_tuple = 'x'
type(one_tuple)

str

In [6]:
one_tuple = ('x')
type(one_tuple)

str

**Answer:**
    
You add a comma after the element.

In [7]:
one_tuple = ('x',)
print(one_tuple)
type(one_tuple)

('x',)

tuple

In [8]:
one_tuple_2 = 'y',
print(one_tuple_2)
type(one_tuple_2)

('y',)

tuple

**Create Tuple with -> `tuple()`**

In [9]:
# empty tuple
t = tuple()
t

()

In [10]:
# check if t is a tuple
isinstance(t, tuple)

True

In [11]:
# let's create a tuple with single element
single = tuple('x')
single

('x',)

**tuple()** -> enter a **string**, it will convert into a Tuple

In [12]:
lang = tuple('Python')
lang

('P', 'y', 't', 'h', 'o', 'n')

In [13]:
# get the first element of lang tuple
lang[0]

'P'

In [14]:
# get the element at index 2
lang[2]

't'

**tuple()** -> enter a **list**, it will convert into a Tuple

In [15]:
# define a list
my_list = ['A', 'B', 'C', 'D']

# pass my_list into tuple()
list_tuple = tuple(my_list)

# print the list_tuple
list_tuple

('A', 'B', 'C', 'D')

If there is indexing in a type -> `slicing`

In [16]:
# define a text
text = 'Moon is the orbit of Earth.'

# convert the text into a tuple
tup = tuple(text)

# print the tuple
print(tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

`slicing[start, end, step]`

In [17]:
# slicing
# slice the word -> Moon
tup[0:4]

('M', 'o', 'o', 'n')

In [18]:
# negative index -> start -1, right to left
# Earth.
# [-6 -5 -4 -3 -2] -1
tup[-6:-1]

('E', 'a', 'r', 't', 'h')

In [19]:
# copy the whole tuple
new_tup = tup[::]
print(new_tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

In [20]:
# take the inverse of tuple
inv_tup = tup[::-1]
print(inv_tup)

('.', 'h', 't', 'r', 'a', 'E', ' ', 'f', 'o', ' ', 't', 'i', 'b', 'r', 'o', ' ', 'e', 'h', 't', ' ', 's', 'i', ' ', 'n', 'o', 'o', 'M')

**Tuples are Immutable**

In [21]:
t = tuple([0,1,2,34,5])
t

(0, 1, 2, 34, 5)

In [22]:
# see the item at index 3
t[3]

34

In [23]:
# change the item at index 3
t[3] = 3

TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment -> you can not **mutate** it

In [24]:
# we will reassing it
t = tuple([0,1,2,3,4,5])
t

(0, 1, 2, 3, 4, 5)

**Tuple Comparison**

Comparing Tuples -> the same as comparing Strings -> Alphabetical Order

In [25]:
# String Comparison
'abxc' < 'ated'

True

In [26]:
# Tuple Comparison
('a', 'b', 'x', 'c') < ('a', 't', 'e', 'd')

True

In [27]:
# String Comparison
'abc' < 'aac'

False

In [28]:
# Tuple Comparison
tuple('abc') < tuple('aac')

False

In [29]:
# Tuple Comparison
(1, 2, 3) < (5, 4, 3)

True

In [30]:
# Tuple Comparison
(5, 40, 200) < (6, 1, 3)

True

In [31]:
# String Comparison
'1243' < '1234'

False

In [32]:
# Tuple Comparison
tuple('1243') < tuple('1234')

False

## Tuple Assignment

In [33]:
# define two variables
a = 99
b = 1

In [34]:
# assing the value of a to b
# and the value of b to a
# a will be 1
# b will be 99

# Way 1 -> temporary variable

print("before assignment:")
print('a: ', a)
print('b: ', b)

# assign a to temp
temp = a

# assign b to a
a = b

# assign temp to b
b = temp

print("after assignment")
print('a: ', a)
print('b: ', b)

before assignment:
a:  99
b:  1
after assignment
a:  1
b:  99

We can change the value of variables -> `Tuple Assignment`

In [35]:
# Tuple Assignment

# initialize the variables
a = 99
b = 1

print("before assignment:")
print('a:', a)
print('b:', b)

# tuple assignment
a, b = b, a

print("after tuple assignment")
print('a:', a)
print('b:', b)

before assignment:
a: 99
b: 1
after tuple assignment
a: 1
b: 99

**Example:**

num_1 = 500

num_2 = 800

via Tuple Assignment.

In [36]:
# tuple assignment to create two variables
num_1, num_2 = 500, 800

# print them
print('num_1: ', num_1)
print('num_2: ', num_2)

num_1:  500
num_2:  800

**Important:**

In Tuple Assingment, number of variables must be the same for both sides.

In [37]:
# number of items are different in two sides
num_1, num_2 = 500, 800, 600

ValueError: too many values to unpack (expected 2)

**Example:**

Split the user name and domain name from an email via Tuple Assingment.

In [38]:
# split the string at the car '@'
'johndoe@example.com'.split('@')

['johndoe', 'example.com']

In [39]:
# split the string and do tuple assignment
user_name, domain = 'johndoe@example.com'.split('@')

In [40]:
print(user_name)
print(domain)

johndoe
example.com

**Example:**

Assign each element of a list into a seperate variable via Tuple Assingment.

In [41]:
# create a list
my_list = ['A', 'B', 'C', 'D']
my_list

['A', 'B', 'C', 'D']

In [42]:
# unpack list elements into seperate variables
a, b, c, d = my_list

In [43]:
print('a:', a)
print('b:', b)
print('c:', c)
print('d:', d)

a: A
b: B
c: C
d: D

## Tuples and Functions

You may notice that, functions can return only one value.

**Question:** What we will do if we want the function to return multiple values.

**Answer:** `Tuple`

**As an example:**

`divmod()` function takes two parameters: 
* dividend
* divisor

And returns a tuple of two results:
* quotient
* remainder

In [44]:
# divide 23 by 4
result = divmod(23, 4)
result

(5, 3)

In [45]:
# create separate variables -> quotient, remainder
quotient = result[0]
print('quotient:', quotient)

remainder = result[1]
print('remainder:', remainder)

quotient: 5
remainder: 3

In [46]:
# tuple assignment
# unpacking
quotient, remainder = divmod(23, 4)

print('quotient:', quotient)
print('remainder:', remainder)

quotient: 5
remainder: 3

**Example:**

Define a function with unknown parameters (*args).

The fn will return the summation and multiplication result of these parameters.

In [47]:
def sum_and_multiply(*args):
    print(args)
    print(type(args))

In [48]:
sum_and_multiply(2, 5, 4, 3)

(2, 5, 4, 3)
<class 'tuple'>

In [49]:
# let's define
def sum_and_multiply(*args):
    
    # summation
    summation = sum(args)
    
    # multiplication -> for loop
    multiplication = 1
    for arg in args:
        multiplication *= arg    
        
    # return both results
    return (summation, multiplication)

In [50]:
sum_and_multiply(2, 5, 4, 3)

(14, 120)

In [51]:
# get the result elements from the tuple 
# via Tuple Assignment
summation, multiplication = sum_and_multiply(2, 5, 4, 3)

print('summation:', summation)
print('multiplication:', multiplication)

summation: 14
multiplication: 120

**Example:**

Define a function taking a list as parameter.

It will return:
* min
* max
* mean (average)

Use statistics for mean.

In [52]:
# import the modules
import statistics

def simple_stats(a_list):
    
    # minimum
    minimum = min(a_list)
    
    # maximum
    maximum = max(a_list)
    
    # mean
    mean = statistics.mean(a_list)
    
    # return -> tuple(min, max, average)
    return (minimum, maximum, mean)

In [53]:
# define a list
my_list = [1, 2, 3, 4, 5]

# call the function and unpack the result
minimum, maximum, average = simple_stats(my_list)

print('minimum:', minimum)
print('maximum:', maximum)
print('average:', average)

minimum: 1
maximum: 5
average: 3

## zip() Function

In Python most of the time we need to use Lists and Tuples together.

We will learn `zip()` function to see how we manage this.

`zip()` function takes two or more Sequence Type parameters.

**Sequence Type:** A type, you can access its elements via indices (int and implicit).
* List
* Tuple
* String
* Range

`zip()` 
* takes the corresponding elements (with the same indices) from the parameters
* returns them as Zip Object (containing Tuples)

In [54]:
# define a string and a list
text = 'xyzt'
a_list = [1, 2, 3, 4]

# zip the string and the list
zip_obj = zip(text, a_list) 

print(zip_obj)

<zip object at 0x000001C5BBDCB800>

`zip object` is an **iterator**.

**Iterator:** is an object which you can loop over it.

In [55]:
# loop over zip_obj
for z in zip_obj:
    print(z)

('x', 1)
('y', 2)
('z', 3)
('t', 4)

As you see, each element in the zip object is a Tuple.
* First element is from the String
* Second element is from the List

In [56]:
# try to get the item at index 0
zip_obj[0]

TypeError: 'zip' object is not subscriptable

You can not directly access the elements of zip object (iterator).

If you need to loop over the iterator more than once, you can assign it to a list.

In [57]:
# define two lists
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30, 40, 50]

# zip the lists into a zip object
new_zip = zip(d1, d2)

# convert the zip object (iterator) to a list
zip_list = list(new_zip)

# print the list
zip_list

[('A', 10), ('B', 20), ('C', 30), ('D', 40), ('E', 50)]

In [58]:
zip_list[2]

('C', 30)

**Question:**

What happens if the parameters are in different length?

**Answer:** The minimum number will decide the final length.

In [59]:
# two lists with different lengths
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30]

# pass the lists to the zip function
new_zip = zip(d1, d2)

print(new_zip)

<zip object at 0x000001C5BBDCA180>

In [60]:
# assing the zip object to a list
zip_list = list(new_zip)
zip_list

[('A', 10), ('B', 20), ('C', 30)]

In [61]:
# see the length of the zip_list
len(zip_list)

3

**Loop over the zip list -> get Tuples**

In [62]:
# loop over the zip_list
for el in zip_list:
    print(el)

('A', 10)
('B', 20)
('C', 30)

In [63]:
# tuple unpacking
for d1_el, d2_el in zip_list:
    print("{0} is from d1 - {1} is from d2".format(d1_el, d2_el))

A is from d1 - 10 is from d2
B is from d1 - 20 is from d2
C is from d1 - 30 is from d2

**Example:**

Check the corresponding elements (at the same index) of two lists.

And print them if they are equal. (common elements)

In [64]:
# define two lists
l1 = ['a', 'B', 'C', 'd', 'e', 'F']
l2 = ['A', 'B', 'c', 'd', 'E', 'F']

# loop over the zip of them
for e1, e2 in zip(l1, l2):
    # check it the items are the same
    if e1 == e2:
        print(e1)

B
d
F

## Tuple & Dictionary

We learned that to get the elements of a Dictionary -> `items()`

And this **items()** returns a list of **Tuples**.

In [65]:
# ASCII codes of first 3 letters
asciis = {
    'A': ord('A'),
    'B': ord('B'),
    'C': ord('C'),
    'a': ord('a'),
    'b': ord('b'),
    'c': ord('c')
}

asciis

{'A': 65, 'B': 66, 'C': 67, 'a': 97, 'b': 98, 'c': 99}

In [66]:
# items()
asciis.items()

dict_items([('A', 65), ('B', 66), ('C', 67), ('a', 97), ('b', 98), ('c', 99)])

In [67]:
# loop over items
for key, value in asciis.items():
    print(key, value)

A 65
B 66
C 67
a 97
b 98
c 99

**Remainder:**

Dictionaries are not ordered types.

We can not expect its items to be ordered.

Because Dictionary does not use implict integer indexing.

In [68]:
# try to access the dict element with index
asciis[0]

KeyError: 0

**Convert Tuple List into a Dictionary:**

We saw that **items()** returns the elements of a Dictionary as a list of Tuples.

Now let's do the opposite.

This time we will a list of Tuples and convert it into a Dictionary.

In [69]:
# define a list of tuples
months_days = [
    ('January', 31),
    ('February', 28),
    ('March', 31),
    ('April', 30)
]

months_days

[('January', 31), ('February', 28), ('March', 31), ('April', 30)]

In [70]:
# convert to a dictionary => dict()
months = dict(months_days)
months

{'January': 31, 'February': 28, 'March': 31, 'April': 30}

**Example:**

Use `zip()` and `range()` functions to create a Dictionary of days in a week.
* 1: Monday
* 2: Tuesday
* 3: Wednesday
* 4: Thursday
* 5: Friday
* 6: Saturday
* 7: Sunday

In [71]:
# define a list for the day names
day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# define a range for the numbers
numbers = range(1, 8)

# zip numbers and day_names
days = zip(numbers, day_names)

# print the zip object
print(days)

<zip object at 0x000001C5BBD18480>

In [72]:
# convert the zip object
days_dict = dict(days)

print(days_dict)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

In [73]:
# do the same thing in one line
days_dict_2 = dict(zip(numbers, day_names))

print(days_dict_2)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

**Tuple as Dictionary Key:**

We have learned that the `key` of a Dictionary must be `Immutable` type.

Since Tuples are Immutable, we can assign them as Dictionary keys.

**Example:**

We want to store the students names and grades in a dictionary.

`(FirstName, LastName)` will be the key and `Grade` will be the value.

<pre>
student_grades = {
    ('Musa', 'Arda'): 'AA',
    ('Bruce', 'Wayne'): 'DC',
    ('Klark', 'Kent'): 'FF',
    ('Peter', 'Parket'): 'FD'
}
</pre>

In [74]:
student_grades = {
    ('Musa', 'Arda'): 'AA',
    ('Bruce', 'Wayne'): 'DC',
    ('Clark', 'Kent'): 'FF',
    ('Peter', 'Parket'): 'FD'
}

In [75]:
# create 3 lists
names = ['Musa', 'Bruce', 'Klark', 'Peter']
lastnames = ['Arda', 'Wayne', 'Kent', 'Parker']
grades = ['AA', 'DC', 'FF', 'FD']

# create an empty dict
student_grades = {}

# loop over 3 list simultaniously -> zip()
for name, lastname, grade in zip(names, lastnames, grades):
        student_grades[(name, lastname)] = grade

# print the dictionary
student_grades

{('Musa', 'Arda'): 'AA',
 ('Bruce', 'Wayne'): 'DC',
 ('Klark', 'Kent'): 'FF',
 ('Peter', 'Parker'): 'FD'}

## `lambda` Function as Key

Some built-in Python functions expect a declaration to execute.

We have to declare them how to process.

This declaration is a function actully.

We have to pass a function as parameter.

We saw `lambda` function before.

Now we will use the lambda function as function parameters.

For example:

For sorting Python has two functions: `sort()` and `sorted()`

* sort()
    * list.sort(reverse=True|False, **key=myFunc**)
    
* sorted()
    * sorted(list, **key=myFunc**, reverse=True|False)

list.sort(reverse=True|False, key=myFunc)

sorted(list, key=myFunc, reverse=True|False)

As you see, the **myFunc** that we pass to **key** parameter is our function.

First we will, create a normal function and pass it to **key** parameter.

Then we will do the same thing with lambda function.

**Example:**

Sort the cars tuple by length of elements in ascending order. (number of chars in elements)

**Define a Named Function**

In [76]:
# define a function to return the length
def myFunc(e):
    return len(e)

In [77]:
# define a tuple
cars = ('Mercedes', 'Audi', 'BMW', 'Porsche', 'VW')

In [78]:
# call the function with an element
myFunc('Audi')

4

In [79]:
# call the function with the element
# at index 4 of cars tuple
myFunc(cars[4])

2

In [80]:
# sorted()
# the key is myFunc function
sorted(cars, key = myFunc)

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [81]:
# sort()
# sort() is a list function -> operates on lists
cars.sort(key = myFunc)

AttributeError: 'tuple' object has no attribute 'sort'

In [82]:
# sort()
# sort() is a list function -> operates on lists

# convert cars tuple to a list
cars_list = list(cars)

# print the list before sort()
print("---- before sort() ----")
print(cars_list)

# sort() -> sorts in place -> mutates the list
cars_list.sort(key=myFunc)

print("---- after sort() ----")
print(cars_list)

---- before sort() ----
['Mercedes', 'Audi', 'BMW', 'Porsche', 'VW']
---- after sort() ----
['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

**lambda Function**

**lambda:** one line, anomymous function.

In [83]:
# redefine the cars tuple
cars = ('Mercedes', 'Audi', 'BMW', 'Porsche', 'VW')
cars

('Mercedes', 'Audi', 'BMW', 'Porsche', 'VW')

In [84]:
# sorted()
sorted(cars, key = lambda e: len(e))

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [85]:
# sort()

# convert the tuple to a list
cars_list = list(cars)

# call the sort() method
cars_list.sort(key=lambda e: len(e))

print(cars_list)

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

**Question:**

So far, we didn't pass any **key** parameter into sorted() or sort().

How do they do the sorting?

**Answer:**

They use standard sorting:
* numbers -> numeric sort
* str -> alphabetical sort

**Example:**

Sort the elements of the tuple numbers which is (2, 1, 3, 7, 6, 5, 4).

In [86]:
numbers = (2, 1, 3, 7, 6, 5, 4)
numbers

(2, 1, 3, 7, 6, 5, 4)

In [87]:
# default -> sorts numeric
sorted(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [88]:
# lambda
# sorted(numbers) = sorted(numbers, key=lambda e: e)
sorted(numbers, key=lambda e: e)

[1, 2, 3, 4, 5, 6, 7]

In [89]:
# define the list
letters = ['c', 'f', 'b', 'a', 'e', 'd']

# default sort
letters.sort()

print(letters)

['a', 'b', 'c', 'd', 'e', 'f']

In [90]:
# redefine the letters
letters = ['c', 'f', 'b', 'a', 'e', 'd']

# letters.sort() = letters.sort(key = lambda x: x)
letters.sort(key = lambda x: x)

print(letters)

['a', 'b', 'c', 'd', 'e', 'f']